<div class="row justify-content-center">
  <div class="col-md-4">
    <label for="rentDayInput" class="form-label">Rent Day</label>
  </div>
  <div class="col-md-4">
    <label for="returnDayInput" class="form-label">Return Day</label>
  </div>
</div>
<div class="row justify-content-center p-3">
  <div class="col-md-4">
    <input
      [(ngModel)]="rentDay"
      type="datetime"
      class="form-control"
      id="rentDayInput"
      placeholder="dd/MM/yyyy"
      [disabled]="isState"
    />
  </div>
  <div class="col-md-4">
    <input
      [(ngModel)]="returnDay"
      type="datetime"
      class="form-control"
      id="returnDayInput"
      placeholder="dd/MM/yyyy"
      [disabled]="isState"
    />
  </div>
  <div class="col-md-2">
    <!-- Button trigger modal -->
    <button
      *ngIf="!isState"
      (click)="addRental()"
      class="btn btn-success"
      type="button"
    >
      Rent
    </button>
    <button
      *ngIf="isState"
      class="btn btn-warning"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Go To Pay
    </button>
  </div>
</div>

<app-payment
  *ngIf="getResponseModel && getResponseModel.data"
  [rentId]="getResponseModel.data.id"
  [totalCost]="getResponseModel.data.totalCost"
></app-payment>
