<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Pay Of Rents</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-payment
          *ngIf="getResponseModel"
          [rentId]="getResponseModel.data.id"
          [totalCost]="getResponseModel.data.totalCost"
        ></app-payment>
      </div>
      <div class="modal-footer">
        <button
          routerLink="/cars"
          class="btn btn-secondary"
          type="button"
          data-bs-dismiss="modal"
        >
          Cars
        </button>
      </div>
    </div>
  </div>
</div>